# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment variables & Secrets
.env
.env.local
.env.*.local
client/.env
server/.env

# Visual Studio / IDE temporary files
.vs/
*.user
*.suo
*.sln
.swp

# Build outputs
dist/
build/
client/dist/
server/dist/

# Prisma & DB logs
/prisma/migrations/
*.log
.vercel
.env*
